/* Estilos generales */
.contePrin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  padding: 3rem 1rem;
  border-radius: 16px;
  max-width: 500px;
  margin: 3rem auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Contenedor principal */
.di {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.labelLocal {
  color: white;
  font-weight: 600;
  margin-bottom: 0.2rem;
  font-size: 20px;
}

.tituloPartido{
  font-size: 25px;
  color: #e65c00;
  margin-bottom: 25px;
  text-align: center;
}

/* Campos de entrada */
.inputTodos {
  padding: 0.7rem 1rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  outline: none;
}

.inputTodos:focus {
  border: 2px solid #f56511;
}


/* Botón */
.btnPartido {
  gap: 0.5rem;
  background-color: #f56511;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnPartido:hover {
  background-color: #d44e0a;
}


