@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@400;500&display=swap');

.tituloEventos {
    font-family: 'Poppins', sans-serif;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 40px; 
  margin-top: 130px; /* para evitar que se oculte debajo del navbar fijo */
}

