@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.localidad-container {
  font-family: 'Poppins', sans-serif;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  background: linear-gradient(135deg, #ffffff, #ffffff);
  border-radius: 20px;
}

.localidad-card {
  text-align: center;
  border-radius: 12px;
  max-width: 400px;
  padding: 13px;
}

.entrada-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.cantidad-control {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0.2rem 0;
}

.cantidad-btn {
  background-color: #FF6000;
  color: white;
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cantidad-btn:hover {
  background-color: #ff792bb6;
}

.cantidad-num {
  font-size: 1.3rem;
  font-weight: 450;
  min-width: 30px;
  text-align: center;
}

.botones-partidos {
  display: flex;
  gap: 0.8rem;
  margin-top: 1rem;
}

.total-container {
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 2px solid #ccc;
  font-size: 1.06rem;
  color: #333;
}

.total-container p {
  margin: 0.4em 0;
}

.total-container div {
  font-size: 0.9rem;
  color: #777;
}

.imagenFrase{
  border-radius: 30px;

}