@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@400;500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.perfil-container {
  display: flex;
  gap: 40px;
  padding: 80px 50px;
  background-color: #f5f5f5;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 120px; /* para evitar que se oculte debajo del navbar fijo */
}

.perfil-card, .perfil-cardDos {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  padding: 30px;
  font-family: 'Poppins', sans-serif;
}

.perfil-card {
  text-align: center;
  width: 320px;
}

.tituloPerfil{
  font-size: 1.8rem;
  color: #000000;
}

.avatar {
  width: 90px;
  height: 90px;
  background-color: #fd800c;
  border-radius: 50%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.estadio {
  border-radius: 50%;
}

.correo {
  font-size: 0.95rem;
  color: #333;
}

.btnAdmin,
.botones-perfil .btnEditar,
.botones-perfil .btnCerrar {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  transition: background 0.3s ease;
}

.btnCerrar:hover,
.btnEditar:hover,
.btnAdmin:hover {
  background-color: #e66900;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.btnEditar:hover {
  background-color: #e86e00;
}

.btnCerrar {
  background-color: #6c757d;
  color: white;
}

.btnCerrar:hover {
  background-color: #5a6268;
}

.perfil-containerDos {
  width: 800px;
  max-width: 100%;
}

.perfil-cardDos h2 {
  color: #333;
  font-size: 1.5rem;
  border-left: 5px solid #fd800c;
  padding-left: 10px;
}

.inputPerfil {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.inputPerfil:focus {
  border-color: #fd800c;
  box-shadow: 0 0 5px rgba(253, 128, 12, 0.5);
  outline: none;
}

.perfil-cardDos label {
  font-weight: 500;
  margin-top: 15px;
  display: block;
}

.btnCambios {
  margin-top: 20px;
  background-color: #0a0a0a;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btnCambios:hover {
  background-color: #fd800c;
}

@media (max-width: 768px) {
  .perfil-container {
    flex-direction: column;
    align-items: center;
  }

  .perfil-card,
  .perfil-containerDos {
    width: 90%;
  }
}

