@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@400;500&display=swap');


.container-historia {
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f4f4; /* fondo suave para mejor lectura */
}

.historia {
  max-width: 900px;
  border-radius: 15px;
  color: #e49a54;
}

.tituloHisto {
  color: #000000;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
}

.historia ul {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1.5rem;
}

.historia ul li {
  background-color: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 12px;
  padding: 1.5rem 1.8rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: #333;
}

.historia ul li strong {
  color: #ff6600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block;
  font-weight: 700;
}

.historia ul li::before {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}


.parrafoHisto{
  color: #000000;
  font-size: 1.07rem;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 2rem;
}

.imagenhisto{
  text-align: center;
}


.logrosLista{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}