.container-historia {
  padding: 20px;
  background-color:#f9f9f9;
  /* orangered*/
}

.historia {
  display: flex;
  gap: 20px;
  /*align-items: flex-start;*/
}  

.estadio {
  width: 300px;
  height: auto;
  border-radius: 8px;
}


