@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

.infJug {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  margin: 40px auto;
  border-radius: 12px;
  font-family: 'Oswald', sans-serif;
  flex-wrap: wrap;
  padding-top: 190px;
}

.dt{
  background-color: #f3f3f3
}

.contenedor-imagen {
  max-width: 320px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.imgBio {
  width: 100%;
  border-radius: 3px;
  border: 13px solid #e7e7e7;
}

.contenedor-datos {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
}

.datBio {
  display: flex;
  align-items: baseline;
  font-size: 1.1rem;
  color: #222;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 6px;
}

.datBio label {
  font-weight: 550;
  min-width: 180px;
  color: #e65c00;
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 1rem;
}

/* Responsive para móviles */
@media (max-width: 768px) {
  .infJug {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
  }

  .contenedor-imagen,
  .contenedor-datos {
    width: 100%;
  }

  .datBio {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .datBio label {
    min-width: auto;
    margin-bottom: 4px;
  }
}

.btnVolver {
  background-color: #e65c00;
  color: #fff;
  font-weight: 600;
  padding: 14px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  gap: 8px;
  margin-left: 120px;
} 

@media (max-width: 768px) {
  .btnVolver {
    align-self: center;
    justify-content: center;
  }
}
