@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@400;500&display=swap');

.partidoss {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfafa;

}

.cardpartido {
  border-radius: 12px;
  padding: 1.2rem 1.5rem;
  margin-bottom: 2rem;
}

.pa {
  font-weight: 600;
  color: #2D2D2D;
}

.pt p {
  font-size: 15px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  color: #FF6000;
  font-size: 1rem;
}

.iconDos {
  color: #FF6000;
  margin-right: 8px;
  vertical-align: middle;
  font-size: 1.3rem;
}


.partidosbotones {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 1rem;
}

.botondelete,
.botonupdate {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: background 0.3s ease;
}

.botondelete {
  background-color: #E63946;
}

.botondelete:hover {
  background-color: #C82333;
}

.botonupdate {
  background-color: #0077CC;
}

.botonupdate:hover {
  background-color: #005FA3;
}

.tituloPT{
  font-size: 40px;
}