.paginaPrin {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.imagen-container {
  position: relative;
  width: 80%;
  height: 80%;
  margin-left: 120px;
  margin-right: 120px;
  border: 10px solid #fff; /* Borde blanco alrededor de la imagen */
  border-radius: 20px; /* Esquinas redondeadas */
  box-sizing: border-box;
  overflow: hidden; /* Asegura que la imagen no sobresalga */
}

.fond {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px; /* Esquinas redondeadas */
}

.vaqva {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.3);
  animation: glow 1.5s ease-in-out infinite alternate;
}

/* @keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.3);
  }
  100% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.6);
  }
}
 */