
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

.divJuga{
  background-color: #000000;
}

/* === TITULOS === */
.titulosJugadores {
  text-align: center;
  padding: 120px 150px;
  background-color: #000000;
  color: white;
}

.subTituloPfc {
  font-size: 2.5rem;
  color: #fd800c;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.tituloPrincipal {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
}

.descripcionEquipo {
  font-size: 15px;
}

/* === GRID === */
.mapeojuga {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  padding: 0 100px;
  padding-bottom: 70px;
}

/* === CARD JUGADOR === */
.cardJugadores {
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

/* Imagen */
.jugadorImgn {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

/* Info */
.jugadorInfo {
  padding: 20px 15px;
}

.JP {
  font-size: 0.95rem;
  color: #fd800c;
  margin-bottom: 12px;
}

/* === RESPONSIVE === */
@media (max-width: 768px) {
  .tituloPrincipal {
    font-size: 2.5rem;
  }

  .mapeoj {
    padding: 0 20px;
    gap: 30px;
  }

  .jugadorImg {
    height: 250px;
  }
}

/* Info debajo de la imagen */
.jugadorInfo {
  margin-top: 12px;
}

.JN {
  color: white;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

/* Botón principal */
.contenedorBoton {
  display: flex;
  justify-content: center;
}

.btnVerTodos {
  background-color: rgb(231, 93, 1);
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 50px;
  font-size: 1rem;
  height: 55px;
  cursor: pointer;
  font-weight: 550;
}