/* MapeoJugadores.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@400;500&display=swap');

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin: 2rem 0;
}

.jugadores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 0 1rem;
}

.jugador-card {
  background-color: #111;
  border-radius: 12px;
  padding: 1rem;
  color: white;
  transition: transform 0.3s ease;
  text-align: center; /* Centra texto dentro de la tarjeta */
}

.jugador-card img {
  width: 100%;
  border-radius: 10px;
}



.jugador-card:hover {
  transform: scale(1.05);
}

.divP{
  background-color: #1a1a1a;
}
.botoned{
  color: white;
  background-color: #f0811a;
  border: none;
  padding: 4px 10px;
  border-radius: 50px;
  font-weight: 600;
}
.dt{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}
.td{
  color: #f0811a;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}
