/* MapeoJugadores.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@400;500&display=swap');


.mapeoadm {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 0 1rem;
}

.cardJug {
  background-color:#1e1e1e;
  border-radius: 12px;
  padding: 1rem;
  color: white;
  transition: transform 0.3s ease;
  text-align: center; /* Centra texto dentro de la tarjeta */
}

.jugadorr img {
  width: 100%;
  border-radius: 10px;
}

.didivPrincipalPp{
  background-color:#1e1e1e;
}

.datostrong{
  color: white;
}

.imgs{
    width: 150px;
    margin: 20px;
    border-radius: 10px;
}
.botoness{
  color: white;
  background-color: #f0811a;
  border: none;
  padding: 4px 10px;
  border-radius: 50px;
  font-weight: 600;
}