/* .ptcb{
background-color: var(--pfc-blanco);
  border-left: 4px solid var(--pfc-naranja);
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--sombra);
  width: 100%;
  max-width: 360px;
  padding: 0.8rem;
  font-size: 0.9rem;
} */