@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.contenedor-flex {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  font-family: 'Poppins', sans-serif;
  margin-top: 100px;
}

/* Aseguramos que cada componente ocupe la mitad (ajustable) */
.partidoss, .localidad-container {
  flex: 1; 
}

.tituloBole{
  margin-left: 500px;
  margin-top: 100px;
  font-size: 30px;
}


/* Responsivo para celulares */
@media (max-width: 768px) {
  .contenedor-flex {
    flex-direction: column;
    align-items: center;
  }

  .partidoss, .localidad-container {
    width: 100%;
  }
}
